/* Defines colors used in colors.css */
:root {
    --basically-black:      #0B0D0E; /* color-mix(in srgb, slategray 10%, black); */
    --dark-gray:            #22262B; /* color-mix(in srgb, slategray 30%, black); */
    
    --electric-purple:      #7000AB; /* color-mix(in srgb, darkviolet 50%, indigo); */
    --darker-purple:        #5D0096; /* color-mix(in srgb, indigo 75%, darkviolet); */
    --middle-purple:        #6700A1;/* color-mix(in srgb, var(--darker-purple) 45%, var(--electric-purple)); */

    --background-color:     var(--electric-purple);
    --default-text-color:   ivory;

    --header-color:         var(--basically-black);
    --header-text-color:    var(--default-text-color);

    --nav-color:            var(--darker-purple);
    --nav-color-hover:      var(--middle-purple);
    --nav-color-active:     var(--electric-purple);
    --nav-text-color:       var(--default-text-color);
    --nav-text-color-hover: lightgray;

    --main-color:           var(--dark-gray);

    --footer-color:         var(--basically-black);
    --footer-text-color:    var(--default-text-color);
}
