/* Defines colors used in colors.css */
:root {
    --dark-purple:          color-mix(in srgb, indigo 60%, black);
    --lavender:             color-mix(in srgb, plum 60%, white);
    --lighter-lavender:     color-mix(in srgb, plum 40%, white);

    --background-color:     var(--lighter-lavender);
    --default-text-color:   var(--dark-purple);

    --header-color:         darkviolet;
    --header-text-color:    var(--lighter-lavender);

    --nav-color:            plum;
    --nav-color-hover:      color-mix(in srgb, var(--nav-color) 50%, var(--background-color));
    --nav-color-active:     var(--background-color);
    --nav-text-color:       var(--dark-purple);
    --nav-text-color-hover: indigo;

    --main-color:           var(--lavender);

    --footer-color:         indigo;
    --footer-text-color:    var(--lighter-lavender);
}
