/* Defines colors used in colors.css */
:root {
    --basically-black:      color-mix(in srgb, slategray 10%, black);
    --dark-gray:            color-mix(in srgb, slategray 30%, black);

    --background-color:     color-mix(in srgb, darkred 60%, crimson);
    --default-text-color:   ivory;

    --header-color:         var(--basically-black);
    --header-text-color:    var(--default-text-color);

    --nav-color:            maroon;
    --nav-color-hover:      color-mix(in srgb, var(--nav-color) 60%, var(--background-color));
    --nav-color-active:     var(--background-color);
    --nav-text-color:       var(--default-text-color);
    --nav-text-color-hover: lightgray;

    --main-color:           var(--dark-gray);

    --footer-color:         var(--basically-black);
    --footer-text-color:    var(--default-text-color);
}
